.cart{
    position: sticky;
    top: 0;
}
.book-name{
    color:brown;
}
.button{
    padding: 10px;
    background-color:wheat;
    border-radius: 5px;
    border: none;
    color: black;
    font-size: medium;
    margin-right: 10px;
}
.button:hover{
    background-color: brown;
    color: wheat;
}

@media screen and (max-width:700px){
    .button{
        margin-top: 10px;
    }
}
