.gallery{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 5px;
}
.books{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}
.books-cart{
    text-align: center;
    background-color:lightblue;
    /* border: 2px solid seagreen; */
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}    


@media screen and (max-width:1000px){
    .books{
        grid-template-columns: repeat(2, 1fr);  
    }
}
@media screen and (max-width:700px){
    .books{
        grid-template-columns: repeat(1, 1fr);  
    }
    .books-cart{
        width: 230px;
        text-align: center;
        background-color:lightblue;
        /* border: 2px solid seagreen; */
        border-radius: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        
    } 
}